APScheduler==3.6.0
asn1crypto==0.24.0
astroid==1.6.6
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.6.0
certifi==2019.3.9
chardet==3.0.4
configparser==4.0.2
cryptography==2.1.4
Django==1.11.29
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
gyp==0.1
html5lib==0.999999999
idna==2.8
ipaddress==1.0.17
isort==4.3.21
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.5.1
lxml==4.2.1
mccabe==0.6.1
numpy==1.13.3
Pillow==6.2.2
psycopg2==2.7.4
pycrypto==2.6.1
pygobject==3.26.1
pylint==1.9.5
pytz==2020.4
pywatchman==1.4.0
pyxdg==0.25
requests==2.21.0
scour==0.36
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
tzlocal==1.5.1
urllib3==1.24.1
webencodings==0.5
wrapt==1.12.1
